* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

html body {
  height: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #75757a;
}

.image {
  position: relative;
}

.image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: auto;
  height: 100%;
  top: 0;
  left: 0;
}

.content .wrapper {
  position: relative;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .wrapper a {
  position: relative;
  width: 80%;
  min-height: 50px;
}

.content .wrapper a .button {
  position: relative;
  width: 80%;
  min-height: 50px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  color: #fff;
  background: #111111;
  cursor: pointer;
  z-index: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 20px;
}

.content .wrapper a .button p {
  display: block;
  width: 100%;
  position: absolute;
  margin: auto;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.content .wrapper .button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  -webkit-animation: glowing 20s linear infinite;
          animation: glowing 20s linear infinite;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  border-radius: 20px;
}

.content .wrapper .button:active {
  color: #000;
}

.content .wrapper .button:active:after {
  background: transparent;
}

.content .wrapper .button:hover:before {
  opacity: 1;
}

.content .wrapper .button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.content .wrapper .delete_checked {
  position: relative;
  min-height: 30px;
  margin-bottom: 10px;
}

.content .wrapper .delete_checked #sku_to_delete {
  display: none;
}

.content .wrapper .delete_checked .submit_del {
  color: white;
  border: none;
  background-color: #4b8cd6;
  border-radius: 20px;
}

.content .wrapper .delete_checked .submit_del:hover {
  -webkit-box-shadow: 0 0 60px 2px #4b8cd6, 0.5rem 0.5rem 30px #13092d;
          box-shadow: 0 0 60px 2px #4b8cd6, 0.5rem 0.5rem 30px #13092d;
}

.content .wrapper .delete {
  position: relative;
  width: 80%;
  min-height: 30px;
  font-size: 14px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #4b8cd6;
  cursor: pointer;
  z-index: 0;
  border-radius: 20px;
}

.content .wrapper .delete p {
  display: block;
  width: 100%;
  position: absolute;
  margin: auto;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.content .wrapper .delete:hover {
  -webkit-box-shadow: 0 0 60px 2px #4b8cd6, 0.5rem 0.5rem 30px #13092d;
          box-shadow: 0 0 60px 2px #4b8cd6, 0.5rem 0.5rem 30px #13092d;
}

.header .header2 {
  height: 50px;
  width: 100%;
  background-color: #393947;
  z-index: 30;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #e5e8e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header2 .nav {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .header2 .nav a {
  color: white;
}

.content {
  color: white;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.6);
}

.container {
  color: white;
  margin-top: 65px;
  margin-bottom: 25px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: auto;
}

.container .side_menu {
  color: white;
  padding: 5px;
}

.container .side_menu .content {
  position: fixed;
  height: 100px;
  width: 200px;
  border: 1px solid white;
  border-radius: 10px;
}

.container .products {
  width: 80%;
  height: auto;
  padding: 5px;
}

.container .products .content {
  width: 100%;
  border: 1px solid white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.container .products .content .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
}

.container .products .content .page .product {
  margin-top: 20px;
  padding: 5px;
  height: 300px;
  width: 250px;
  margin-left: 29px;
  -webkit-box-shadow: 4px 0 5px #4b8cd6;
          box-shadow: 4px 0 5px #4b8cd6;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: white;
}

.container .products .content .page .product .checkbox {
  height: 6%;
  color: white;
}

.container .products .content .page .product .description {
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .products .content .page .product .description .view_product {
  border: none;
  background: none;
  color: #2f00ff;
}

.container .products .content .page .product .description .view_product:hover {
  color: #ff004c;
}

.container .products .content .page .product .description p {
  display: block;
  font-weight: 600;
  margin: 0;
}

.container .side_menu2 {
  color: white;
  width: 15%;
  height: auto;
  padding: 5px;
}

.container .side_menu2 .content {
  height: 23px;
  width: 100%;
  height: 850px;
  border: 1px solid white;
  border-radius: 10px;
}

#fur {
  width: 30px;
}

.footer {
  padding: 20px 300px 20px 300px;
  min-height: 200px;
  width: 100%;
  background-color: #393947;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #e5e8e9;
}

.footer a {
  font-size: 10px;
  color: white;
}

.footer a:hover {
  color: orange;
  text-decoration: none;
}

.footer .titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .helper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
}

.footer .social_media .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .social_media .icons img {
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
  width: 60px;
}

.error {
  color: red;
}

.error {
  display: inline;
}

.ok {
  display: inline;
  color: green;
}

.overlay {
  color: white;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
  z-index: 20;
  top: 0;
  left: 0;
}

.overlay .modal_window {
  position: fixed;
  z-index: 10;
  min-width: 1000px;
  min-height: 800px;
  border: 1px solid #e5e8e9;
  background-color: #393947;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 50px 50px 50px 50px;
}

.overlay .modal_window .close {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 100%;
  top: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.overlay .modal_window .close span {
  position: absolute;
  display: block;
  top: 45%;
  left: 15%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30px;
  height: 5px;
  background-color: white;
}

.overlay .modal_window .close span:first-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.overlay .modal_window .close span:last-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.overlay .modal_window .title {
  color: white;
  font-size: 25px;
  font-weight: 600;
}

.overlay .modal_window hr {
  background-color: #32c5ff;
}

.overlay .modal_window .wrapper {
  margin-top: 10px;
  font-size: 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.overlay .modal_window .wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 650px;
}

.overlay .modal_window .wrapper form a {
  width: 100%;
}

.overlay .modal_window .wrapper .submit {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-size: 1rem;
  line-height: 3rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(160deg, #ff0000, #ec008c);
  border-radius: 30px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-shadow: 0 0 0 0 #ec008c, 0.5rem 0.5rem 30px #13092d;
          box-shadow: 0 0 0 0 #ec008c, 0.5rem 0.5rem 30px #13092d;
  -webkit-transition: -webkit-box-shadow 0.6s;
  transition: -webkit-box-shadow 0.6s;
  transition: box-shadow 0.6s;
  transition: box-shadow 0.6s, -webkit-box-shadow 0.6s;
}

.overlay .modal_window .wrapper .submit:hover {
  -webkit-box-shadow: 0 0 60px 2px #ec008c, 0.5rem 0.5rem 30px #13092d;
          box-shadow: 0 0 60px 2px #ec008c, 0.5rem 0.5rem 30px #13092d;
}
/*# sourceMappingURL=style.css.map */