*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    body{
        height: 100%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(117, 117, 122);
    }
}

.image{
    position: relative;
    img{
        object-fit: cover;
        width: auto;
        height: 100%;
        top: 0;
        left: 0;
    }
}
.content{
    .wrapper{
        position: relative;
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    
        a{
            position: relative;
            width: 80%;
            min-height: 50px;
            .button{
                position: relative;
                width: 80%;
                min-height: 50px;
                margin-bottom: 10px;
                border: none;
                outline: none;
                color: #fff;
                background: rgb(17, 17, 17);
                cursor: pointer;
                z-index: 0;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 20px;
                p{
                    display: block;
                    width: 100%;
                    position: absolute;
                    margin: auto;
                    text-align: center;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        .button:before{
            content: '';
            background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
            position: absolute;
            top: -2px;
            left:-2px;
            background-size: 400%;
            z-index: -1;
            filter: blur(5px);
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            animation: glowing 20s linear infinite;
            opacity: 0;
            transition: opacity .3s ease-in-out;
            border-radius: 20px;
        }
        .button:active{
            color: #000;
        }
        .button:active:after {
            background: transparent;
        }
        
        .button:hover:before {
            opacity: 1;
        }
        
        .button:after {
            z-index: -1;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #111;
            left: 0;
            top: 0;
            border-radius: 10px;
        }
        .delete_checked{
            position: relative;
            min-height: 30px;
            margin-bottom: 10px;
            #sku_to_delete{
                display: none;
            }
            .submit_del{
                color: white;
                border: none;
                background-color: rgb(75, 140, 214);
                border-radius: 20px;
            }
            .submit_del:hover{
                box-shadow: 0 0 60px 2px rgb(75, 140, 214), 0.5rem 0.5rem 30px mix(black, #26115a, 50%);
            }
        }
        .delete{
            position: relative;
            width: 80%;
            min-height: 30px;
            font-size: 14px;
            border: none;
            outline: none;
            color: #fff;
            background-color: rgb(75, 140, 214);
            cursor: pointer;
            z-index: 0;
            border-radius: 20px;
            p{
                display: block;
                width: 100%;
                position: absolute;
                margin: auto;
                text-align: center;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .delete:hover{
            box-shadow: 0 0 60px 2px rgb(75, 140, 214), 0.5rem 0.5rem 30px mix(black, #26115a, 50%);
        }
    }
}


.header{
    .header2{
        height: 50px;
        width: 100%;
        background-color: rgb(57, 57, 71);
        z-index: 30;
        position: fixed;
        top: 0;
        border-bottom: 1px solid rgb(229, 232, 233);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .nav{
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            a{
                color: white;
            }
        }
    }
}

.content{
    color: white;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.6);
}

.container{
    color: white;
    margin-top: 65px;
    margin-bottom: 25px;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
    .side_menu{
        color: white;
        padding: 5px;
        .content{
            position: fixed;
            height: 100px;
            width: 200px;
            border: 1px solid rgb(255, 255, 255);
            border-radius: 10px;
        }
    }
    .products{
        width: 80%;
        height: auto;
        padding: 5px;
        .content{
            width: 100%;
            border: 1px solid rgb(255, 255, 255);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            .page{
                display: flex;
                padding: 10px;
                flex-direction: row;
                flex-wrap: wrap;
                height: auto;
                .product{
                    margin-top: 20px;
                    padding: 5px;
                    height: 300px;
                    width: 250px;
                    margin-left: 29px;
                    box-shadow: 4px 0 5px rgb(75, 140, 214);
                    font-size: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    color: white;
                    .checkbox{
                        height: 6%;
                        color: white;
                    }
                    .description{
                        width: 100%;
                        height: 40%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-around;
                        .view_product{
                            border: none;
                            background: none;
                            color: rgb(47, 0, 255);
                        }
                        
                        .view_product:hover{
                            color: rgb(255, 0, 76);
                        }
                        p{
                            display: block;
                            font-weight: 600;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    .side_menu2{
        color: white;
        width: 15%;
        height: auto;
        padding: 5px;
        .content{
            height: 23px;
            width: 100%;
            height: 850px;
            border: 1px solid rgb(255, 255, 255);
            border-radius: 10px;
        }
    }
}

#fur{
    width: 30px;
}

.footer{
    padding: 20px 300px 20px 300px;
    min-height: 200px;
    width: 100%;
    background-color: rgb(57, 57, 71);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	border-top: 1px solid rgb(229, 232, 233);
    a{
        font-size: 10px;
        color: white;
    }
    a:hover{
        color: orange;
        text-decoration: none;
    }
    .titles{
        display: flex;
        flex-direction: column;
    }
    .helper{
        display: flex;
        flex-direction: column;
        width: 25%;
    }
    .social_media{
        .icons{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            img{
                margin-left: 10px;
                margin-top: 10px;
                cursor: pointer;
                width: 60px;
            }
        }
    }
}

.error{
    color: red;
}
.error{
    display: inline;
}
.ok{
    display: inline;
    color: green;
}


.overlay{
    color: white;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    z-index: 20;
    top: 0;
    left: 0;
    .modal_window{
        position: fixed;
        z-index: 10;
        min-width: 1000px;
        min-height: 800px;
        border: 1px solid rgb(229, 232, 233);
        background-color: rgb(57, 57, 71);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 50px 50px 50px 50px;
        .close{
            position: absolute;
            width: 40px;
            height: 40px;
            left: 100%;
            top: 0;
            transform: translateX(-100%);
            span{
                position: absolute;
                display: block;
                top: 45%;
                left: 15%;
                transform: translate(-50%, -50%);
                width: 30px;
                height: 5px;
                background-color: white;

                &:first-child{
                    transform: rotate(-45deg);
                }
                &:last-child{
                    transform: rotate(45deg);
                }
            }
        }
        .title{
            color: white;
            font-size: 25px;
            font-weight: 600;
        }
        hr{
            background-color: rgb(50, 197, 255);
        }
        .wrapper{
            margin-top: 10px;
            font-size: 20px;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            form{
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 650px;
                a{
                    width: 100%;
                }
            }
            .submit{
                position: absolute;
                bottom: 10px;
                left: 50%;
                transform: translateX(-50%);
                margin: auto;
                padding-right: 1.5rem;
                padding-left: 1.5rem;
                font-size: 1rem;
                line-height: 3rem;
                text-decoration: none;
                color: white;
                text-transform: uppercase;
                letter-spacing: 2px;
                background-image: linear-gradient( 160deg, #ff0000, #ec008c);
                border-radius: 30px;
                cursor: pointer;
                user-select: none;
                box-shadow: 0 0 0 0 #ec008c, 0.5rem 0.5rem 30px mix(black, #26115a, 50%);
                transition: box-shadow 0.6s;
            }
            .submit:hover{
                box-shadow: 0 0 60px 2px #ec008c, 0.5rem 0.5rem 30px mix(black, #26115a, 50%);
            }
        }
    }
}